/*setting background and font color*/
body {
    background-color: blue;
    text-align: center;
  }


  h1, p {
      color: lightblue;
}

/* arranging buttons*/
.buttons {

}

/*design from images*/
  .images {
  display: inline;
  opacity: .10;
  ;
  }
   