
//rock image//
https://www.pinclipart.com/picdir/middle/281-2816692_rock-clipart-small-rock-png-download.png   

/paper image//
http://clipartsign.com/upload/2016/01/18/paper-clipart-notebook.png

/scissors image//
https://free.clipartof.com/450/1702-Free-Clipart-Of-A-Pair-Of-Scissors.jpg